body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.section-a,
.header,
.footer {
    background: #1f2937;
    padding: 10px;
}

.header {
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.bottom-a {
    display: flex;
    /* width: 600px; */
    justify-content: center;
}

.left-a {
    width: 400px;
}

.right-a {
    background-color: lightslategray;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}


.main-d {
    background-color: #3882f6;
}