body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    box-sizing: border-box;
}

/* .section-a, */
.header,
.footer {
    background: #1f2937;
    padding: 10px;
}
.section-a {
    padding: 30px;
    background: #1f2937;
    
}
.header {
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.bottom-a {
    display: flex;
    width: 800px;
    justify-content: center;
    margin-left: 430px;
    gap: 20px;
}

.left-a {
    width: 400px;
    /* padding-right: 20px; */
}

.right-a {
    background-color: lightslategray;
    align-content: center;
    height: 185px;
    width: 400px;
    align-self: center;
}
.right-a-text{
    display: flex;
    justify-content: center;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
}

h1 {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

#left-a-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.main-d {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
}